# Supabase Project Config
SUPABASE_URL=https://kwxjostfwuvxrpuskzxo.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_...
SUPABASE_SECRET_KEY=sb_secret_...

# Direct PostgreSQL Connection String (From Supabase -> Settings -> Database -> Connection URI)
# Contoh format:
# POSTGRES_URL=postgresql://postgres.kwxjostfwuvxrpuskzxo:[PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres
